@{
    ViewBag.Title = "Acerca de";
}

<link rel="stylesheet" href="~/Content/aboutpage.css"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section class="timeline_area section_padding_130">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Timeline Area-->
                <div class="apland-timeline-area">
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                            <p>Misión y Visión</p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-ticket" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>Misión</h6>
                                        <p>Ser lideres en el desarrollo de un sistema de salud productivo, resiliente, equitativo y centrado en las personas</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-eye" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>Visión</h6>
                                        <p>Somos lideres en programas de salud accesibles para todas las personas</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                            <p>Valores</p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-shield" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>Respeto</h6>
                                        <p>
                                            Entendemos que todas las personas son iguales y merecen el mejor servicio, por lo que nos
                                            comprometemos a respetar su dignidad y a atender sus necesidades teniendo en cuenta, en
                                            todo momento, sus derechos
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-shield" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>Inclusión</h6>
                                        <p>Reconocemos que los grupos sociales son distintos y valoramos sus diferencias.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-shield" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>Compromiso</h6>
                                        <p>Nos comprometemos a que nuestras capacidades cumplan con todo aquello que se nos ha confiado.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                            <p>Políticas Institucionales</p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>Política de Calidad</h6>
                                        <p>
                                            Fortalecer la cultura de servicio con enfoque proactivo - preventivo, mejora
                                            continua de la calidad, gestión - desarrollo del conocimiento e innovación y
                                            creación de valor, apoyados en el liderazgo y trabajo en equipo para cumplir
                                            con la oferta de valor diferenciada.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>Política de Salud Ocupacional</h6>
                                        <p>
                                            Propiciar ambientes de trabajo sanos y seguros, que minimicen los factores de riesgo ocupacionales críticos,
                                            que puedan de una u otra forma afectar la salud, el buen desempeño de los empleados y otros usuarios,
                                            según legislación vigente y directrices institucionales.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>Política de Responsabilidad para el Desarrollo</h6>
                                        <p>
                                            Ofrecer servicios integrales de salud de alta complejidad, en un entorno equitativo y sostenible, para el
                                            desarrollo humano integral, que permita asegurar a la Clínica, los trabajadores y la comunidad en general,
                                            el crecimiento económico, el desarrollo social y el equilibrio ambiental.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
