@model IEnumerable<ProyectoFinal_ClinicaBelen.ViewModel.UserView>
@{
    ViewBag.Title = "Index";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/datatables.min.css" />

<input type="hidden" id="txtOcultar" value="@ViewBag.Accion" />
<div class="box box-primary" style="margin-top:20px;">
    <div class="box-header">
        <h4 class="box-title">Permisos de usuarios</h4>
    </div>

    <div class="box-body">
        <div class="table-responsive">
            <table id="tableIndex" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nombre Usuario</th>
                        <th>Email</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<h4>@ViewBag.ex</h4>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
<script>
    var Popup, dataTable;
    $(document).ready(function () {
        $.noConflict();
        var table = $('tableIndex').DataTable();
        table = $("#tableIndex").DataTable({
            "ajax": {
                "url": "/Users/GetData",
                "type": "GET",
                "datatype": "json",
            },
            "columns": [
                { "data": "UserID" },
                { "data": "UserName" },
                { "data": "Email" },
                {
                    "data": "UserID", "render": function (data) {
                    return "<a class='btn btn-default btn-sm' href='@Url.Action("InndexRoles", "Users")/" + data + "'>Roles</a>";
                    },
                        "orderable": false,
                        "searchable":false,
                        "width":"30px"
                },
                {
                    "data": "Id_Categoria", "render": function (data) {
                        return "<a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete("+data+")> <i class='fa fa-trash'></i></a > ";
                    },
                        "orderable": false,
                        "searchable":false,
                        "width":"30px"
                    }
            ],
            "language": {
                "url": "@Url.Content("~/Scripts/datatable.es-ES.json")"
                 }
        });
    });
</script>
<script>
    $(document).ready(function () {
        if ($("#txtOcultar").val() == "Insertado") {
            swal("Registro Guardado!", "Datos  guardados correctamente!", "success");
        }
        else if ($("#txtOcultar").val() == "Editado") {
            swal("Registro Editado!", "Datos editados correctamente!", "success");
        }
        else if ($("#txtOcultar").val() == "Eliminado") {
            swal("Registro Eliminado!", "Datos  Eliminados correctamente!", "success");
        }
    });
</script>

